{% extends 'base.html' %}

{% block content %}
<div class="mentions">
  <p>Chuchotez vos codes au portier pour entrer dans les bureaux ! (cliquez sur Connexion)</p>
  <hr>
  <p><strong>Mentions :</strong></p>

  <p>Bienvenue dans l’outil de génération de rapports des maréchaux et de synthèse de douanes du prévôt.</p>

  <p>Ce site n’est pas un service officiel de Celsius Online.<br>
     Il a été créé bénévolement par une joueuse pour faciliter la gestion des douanes pour les prévôts et les maréchaux dans le jeu 
     <em>Royaumes Renaissants</em> (Renaissance Kingdoms).
  </p>

  <p>Aucune donnée personnelle n’est collectée, transmise à des tiers ou utilisée à des fins publicitaires.</p>
</div>
{% endblock %}
